<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Miami Airport</title>
	<h2></h2>
</head>
<body>
    {% comment %} <form>{% csrf_token %}
		

          <a href="/live/"><input type="button" name="live" value="Live"></a>
          <a href="/schedule/"><input type="button" name="schedule" value="Schedule"></a>
          <a href="/airport/"><input type="button" name="airport" value="Airport"></a>
          <a href="/login/logout/"><input type="button" name="logout" value="Logout"></a>
    </form>
	<form action="flboarding" method="post">{% csrf_token %}
		<input type="submit" value="Boarding" ><br><br>
	</form>
	<form action="flupdate" method="post">{% csrf_token %}
		<input type="submit" value="Flight Update"/>
	</form>
    <form action="reset" method="post">{% csrf_token %}
		<input type="submit" value="Reset"/> 
	</form> {% endcomment %}
	
<body>
    <table>
        <thead>
			<h1 align="center">Welcome to kochin Airport</h1>
            <tr>
                <th>Airport Name:</th>
				<th>Destination:</th>
				<th>Arrivaltime:</th>
				<th>Departtime:</th>
            </tr>
        </thead>
        <tbody>
            {% for name in airports %}
            <tr>
                <td>{{ name.airportname }}</td>
				<td>{{ name.destinyname }}</td>
				<td>{{ name.arrivaltime }}</td>
				<td>{{ name.departtime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:white;" href=" ">Add New Airport</a></button>
</body>

</html>
</body>
</html>
